.App {
  padding-top: 80px;
  background: rgb(104, 119, 187);
}



.login-style { 
	text-align: center;
	background: rgb(104, 119, 187);
	  
	height: 300px;
	min-width: 300px;
	padding: 80px;  
	border-radius: 1.5em;
	  
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	box-shadow: 0 8px 16px 0 rgba(255, 0, 0), 0 6px 20px 0 rgba(248, 1, 1, 0.19);
    overflow: 'auto'

}
.Darker {
  color: black;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}



.App-intro {
  font-size: large;
}


div, button {
  margin: 15px;
}
div, button-center {
	margin: 15px;
	text-align: center;
  }
.row:after{
	clear:both;
}

.col {
	background: grey;
	/*border-radius: 5px;/*make rounded corners*/
	padding: 10px 5px;
	color: black;
	float: left;
	margin: 0.5%;
	width: 15%;/*each of the columns take up 33%
	(so in total take up whole width)
	can use % for width, margin etc. if it goes over 100%
	it will just keep wrapping around
	USE PERCENTAGE CHANGES if you want it to look nice
	on all devices and all sized browsers*/
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}


body{
	background: rgb(104, 119, 187);;
	font-family: arial;
}

body.main{
	background: white;
	font-family: arial;
}

.wrapper{
	text-align: center;
	padding-top: 10px;
}

h1 {
	color: white;
}

h4 {
  	color: black;
	text-align: center;
	padding: 5px 5px 5px 5px;
	
}

a {
	color: white;
}
li {
	color: #333;
}

p {
	background: #666;
	color: white;
	padding: 12px;
	text-align: center;
}

.darker {
	background: #333;
	border-radius: 5px;/*make rounded corners*/
	padding: 10px 10px 10px 10px;
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;

	/*text-align center;*/
}

.nav-link{
	color: black;
}

h2.titlestart {
	/*border: 1px solid red;*/
	padding: 30px 0px 20px 0px;
}
h2 {text-align: center;}

.indexButton {
	color: #111;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
  }

  .centersmall {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
  }



.row{
	padding: 20px 20px 20px 20px;
}
.row:after{

	clear:both;
}

#smaller-image{
	width: 90%;
	height: auto;
}


img.rounded-corners {
	border-radius: 30px;
  }

