.nav-link{
    color: black;
}
.container{
    background-color: red;
}

#nav1
{  
    color: orange;
    background-color: blue; /*whichever you want*/
    opacity: 0.5; 
    filter:(opacity=50);       
}
.yep
{  
    color: orange;
    background-color: blue; /*whichever you want*/
    opacity: 0.5; 
    filter:(opacity=50);       
}
#wrapper .container .nav{
    background-color: red;
    opacity: 0.7;
}
